# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock
.env

# React
build/
.DS_Store
*.log
*.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
Thumbs.db
ehthumbs.db
Icon?
Desktop.ini
# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# VS Code
.vscode/

# Test folders
coverage/
